.LoginForm {
    width: 30em;
}

.RegisterLink {
    padding-left: 4rem;
    font-size: 2rem;
    color: #FFF;
    opacity: 0.3;
    padding-bottom: 6.5rem;
    cursor: pointer;
}

.RegisterLink p {
    display: inline-block;
    padding-right: 1rem;
}